*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    width: 100%;
    background-color: rgb(44, 42, 42);
    display: grid;
    padding: 4rem;
    gap: 4rem;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(6,1fr);
}
.item{
    height: 100px;
    width: 100px;
    background-color: aqua;
}
